@media (max-width: 1403px){
    .promo{
        &__content{
            padding-top: 138px;
        }
        .title{
            font-size: 57px;
        }
        &__text{
            font-size: 20px;
        }
        &__actions{
            padding-left: 23px;
        }
        &__photo{
            height: 732px;
        }
    }
}

@media (max-width: 1299px){
    .promo {
        &__content{
            padding-top: 186px;
        }
        .title {
            font-size: 53px;
        }
        &__photo{
            height: 659px;
            img {
                bottom: -131px;
            }
        }
    }
}